Exercise 2: Create markdown cell with title of the notebook
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

In this notebook, I follow the examples provided and Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
+ List Data Science Languages
+ List Data Science Libraries
+ List Data Science Tools

Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. caret

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|--------|
|Jupytr Notebooks|
|R Studio|
|Apache Zeppelin|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This is a Simple arithemtic expression to multiply then add integers

In [1]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
B Johnson